extends ../layout

block content
    .row
        .col-sm-8
            h1=title
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Add New Course
    table.table
        thead
            tr
                th Course Name
                th Course Id
                th Course Duration(Hrs)
                th Course Fee(USD)
                th Actions
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.id
                    td=product.duration
                    td=product.fee
                    td
                        a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                        a(href="/products/edit/"+product._id, class="btn btn-warning") Edit